//////////////////////////////////////////////
/// color define//
$color-primary:#020b6a;
$color-primary-dark:#000045;
$color-primary-light:#33ebff;


$color-secondary: rgb(85, 85, 85);
$color-alarm: #ff1313;

$color-tertiary:#5fc52e;
$color-tertiary-light:#6eee87;

$color-gery-light:#ebf4f5;
$color-gery-light-2:#b6bdbe;
$color-footer:#001e52;

//////////////////////////////////////////////
/// shadow define//
$shadow-light: 0 2px 8px rgba($color: #000000, $alpha: .3);
$shadow-dark: 0 3px 8px rgba($color: #000000, $alpha: .5);



/////////////////////////////////////////////////
/// font
$font-display:'Bungee', cursive;
$font-text:'Lato', sans-serif;



///////////////////////////////////////////////////
/// untilities
.mb-l { margin-bottom: 8rem;}
.mb-m { margin-bottom: 6rem;}
.mb-s { margin-bottom: 4rem;}



@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}




/// RESPONSIVE BREAKPOINTS
// $bp-lgst: 75em; //1200px
$bp-lg: 62.5em; //1000px
$bp-md: 50em; // 800px
$bp-sm: 37.5em; // 600px



