.mb-l {
  margin-bottom: 8rem; }

.mb-m {
  margin-bottom: 6rem; }

.mb-s {
  margin-bottom: 4rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 45%; } }

.heading-1 {
  font-family: "Rubik Maze", cursive;
  font-size: 7rem;
  color: #ebf4f5;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5), 3px 3px 5px rgba(0, 0, 0, 0.5), 4px 4px 5px rgba(0, 0, 0, 0.5), 5px 10px 2px rgba(0, 0, 0, 0.5);
  animation: moveInLeft 1s ease-out; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 5rem; } }

.heading-2 {
  background-image: linear-gradient(to right bottom, #5fc52e, #33ebff);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Bungee", cursive;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 3rem;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
  transition: all 0.2s linear; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 3rem;
      width: 80%;
      margin: 0 auto; } }
  .heading-2:hover {
    transform: skewY(-2deg); }

.heading-3 {
  font-family: "Bungee", cursive; }

.body {
  max-width: 1800px;
  margin: 0 auto;
  display: grid; }

.btn {
  cursor: pointer;
  width: max-content;
  padding: 1em 3rem;
  font-family: "Bungee", cursive;
  font-size: 1.6rem;
  color: #ebf4f5;
  border: none;
  border-radius: 5px;
  transition: all 0.2s linear;
  background-image: linear-gradient(to right bottom, rgba(95, 197, 46, 0.9), rgba(110, 238, 135, 0.9));
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); }
  .btn:hover {
    background-image: linear-gradient(to left top, rgba(95, 197, 46, 0.9), rgba(110, 238, 135, 0.9));
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); }
  .btn:active {
    background-image: linear-gradient(to left top, rgba(95, 197, 46, 0.9), rgba(110, 238, 135, 0.9));
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(2px); }

.form {
  display: grid;
  grid-row-gap: 2rem; }
  .form__group {
    width: 80%;
    font-family: "Bungee", cursive; }
    @media only screen and (max-width: 50em) {
      .form__group {
        width: 100%; } }
  .form__input {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: 2px;
    border: none;
    transition: all .3s linear;
    border-bottom: 2px solid transparent;
    display: block;
    width: 90%; }
    .form__input::-webkit-input-placeholder {
      color: #b6bdbe; }
    .form__input:focus {
      outline: none;
      border-bottom: 2px solid #020b6a;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); }
    .form__input:focus:invalid {
      border-bottom: 2px solid #ff1313; }
    @media only screen and (max-width: 50em) {
      .form__input {
        width: 90%;
        margin: 0 auto; } }
  .form__label {
    font-size: 1.3rem;
    display: block;
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #b6bdbe;
    transition: all .5s; }
  .form__input:placeholder-shown + .form__label {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden; }
  .form__btn {
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: .5rem 1rem; }
  @media only screen and (max-width: 50em) {
    .form__btns {
      display: flex;
      justify-content: space-evenly; } }

.header {
  height: 80vh;
  background-image: linear-gradient(rgba(51, 235, 255, 0.75), rgba(0, 0, 69, 0.75)), url("../imgs/landing_bg_img_lg.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  display: grid;
  grid-template-rows: 1fr 10rem 6rem 2fr;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header__logo {
    width: 6rem;
    height: 6rem;
    justify-self: start;
    align-self: start;
    margin-top: 3rem;
    margin-left: 3rem; }
  .header__logo-icon {
    width: 100%;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.3)); }
  .header__heading-3 {
    color: #33ebff;
    letter-spacing: 1rem;
    position: relative;
    font-size: 3rem;
    animation: moveInRight 0.8s linear 0.8s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .header__heading-3 {
        letter-spacing: .5rem;
        font-size: 2rem; } }
    .header__heading-3::after {
      content: "Engjoy your game time!";
      position: absolute;
      left: 0;
      transform: rotateX(180deg) skewX(-25deg) translateX(0.4rem);
      top: 2.4rem;
      background-image: linear-gradient(to bottom, rgba(51, 235, 255, 0.1), rgba(51, 235, 255, 0.7));
      -webkit-background-clip: text;
      color: transparent; }
  .header__btn {
    animation: moveInBottom 0.5s linear 1.2s;
    animation-fill-mode: backwards; }

.second-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 6rem;
  justify-items: center;
  align-items: center;
  padding: 3rem; }
  @media only screen and (max-width: 50em) {
    .second-part {
      grid-template-columns: 1fr; } }
  .second-part__heading {
    grid-column: 1 / -1; }
  .second-part__text {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: #555555;
    line-height: 3.5rem;
    letter-spacing: 0.2rem;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0; }
  .second-part__imgs {
    min-height: 40rem;
    align-self: center;
    width: 100%;
    position: relative; }
    @media only screen and (max-width: 50em) {
      .second-part__imgs {
        min-height: 60rem; } }
    @media only screen and (max-width: 37.5em) {
      .second-part__imgs {
        width: 80%;
        margin: 0 auto; } }
    .second-part__imgs-img {
      position: absolute;
      width: 45%;
      border-radius: 3px;
      box-sizing: content-box;
      transition: all .2s linear;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 62.5em) {
        .second-part__imgs-img {
          width: 60%; } }
      @media only screen and (max-width: 50em) {
        .second-part__imgs-img {
          width: 40%; } }
      @media only screen and (max-width: 37.5em) {
        .second-part__imgs-img {
          width: 100%;
          position: relative;
          margin: 0 auto; } }
      .second-part__imgs-img:hover {
        outline: 3px solid #b6bdbe;
        padding: 1rem;
        z-index: 30; }
    .second-part__imgs-img1 {
      z-index: 20;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -100%); }
      @media only screen and (max-width: 62.5em) {
        .second-part__imgs-img1 {
          transform: translate(-50%, -120%); } }
      @media only screen and (max-width: 50em) {
        .second-part__imgs-img1 {
          transform: translate(-30%, -100%); } }
    .second-part__imgs-img2 {
      z-index: 10;
      left: 50%;
      top: 50%;
      transform: translate(-90%, -50%); }
      @media only screen and (max-width: 62.5em) {
        .second-part__imgs-img2 {
          transform: translate(-80%, -50%); } }
      @media only screen and (max-width: 50em) {
        .second-part__imgs-img2 {
          transform: translate(-80%, -20%); } }
    .second-part__imgs-img3 {
      z-index: 15;
      left: 50%;
      top: 50%;
      transform: translate(0, -20%); }
      @media only screen and (max-width: 62.5em) {
        .second-part__imgs-img3 {
          transform: translate(-15%, 0%); } }
      @media only screen and (max-width: 50em) {
        .second-part__imgs-img3 {
          transform: translate(-15%, 20%); } }
    @media only screen and (max-width: 37.5em) {
      .second-part__imgs-img1, .second-part__imgs-img2, .second-part__imgs-img3 {
        left: 0;
        top: 0;
        transform: translate(0, 0); } }

.consoles {
  background-image: linear-gradient(170deg, rgba(0, 0, 69, 0.7), rgba(2, 11, 106, 0.7)), url("../imgs/console-bg.jpg");
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  min-height: 80rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 25rem));
  grid-column-gap: 2rem;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .consoles {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 5rem;
      padding: 20rem 0; } }
  .consoles__card {
    background-color: #fff;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    justify-items: center;
    min-height: 40%;
    height: auto;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    color: #ebf4f5;
    transition: all .2s linear;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .consoles__card {
        padding-top: 5rem;
        width: 60%; } }
    .consoles__card:hover {
      transform: translateY(-2px) scale(1.05);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); }
    .consoles__card-1 {
      background-image: linear-gradient(to bottom, rgba(235, 244, 245, 0.8), rgba(0, 55, 145, 0.8)); }
    .consoles__card-2 {
      background-image: linear-gradient(to bottom, rgba(235, 244, 245, 0.8), rgba(16, 124, 16, 0.8)); }
    .consoles__card-3 {
      background-image: linear-gradient(to bottom, rgba(235, 244, 245, 0.8), rgba(230, 0, 18, 0.8)); }
  .consoles__logo {
    width: 6rem;
    height: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .consoles__logo {
        width: 80%; } }
  .consoles__heading {
    font-family: "Bungee", cursive;
    font-weight: 300;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .consoles__heading {
        font-size: 3rem; } }
  .consoles__content {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 2rem 1.5rem;
    line-height: 1.2; }
    @media only screen and (max-width: 37.5em) {
      .consoles__content {
        font-size: 2rem;
        padding: 2rem 3rem;
        line-height: 4rem; } }

.top-games {
  padding-bottom: 8rem; }
  .top-games__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 35rem));
    grid-column-gap: 3rem;
    justify-content: space-evenly;
    align-content: stretch;
    padding: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .top-games__container {
        grid-template-columns: repeat(3, minmax(20rem, 30rem)); } }
    @media only screen and (max-width: 50em) {
      .top-games__container {
        grid-template-columns: 1fr;
        padding: 6rem 25%;
        row-gap: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .top-games__container {
        padding: 6rem 15%; } }
  .top-games__card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 100%;
    position: relative; }
    .top-games__card:hover .top-games__card__side--front {
      transform: rotateY(-180deg); }
    .top-games__card:hover .top-games__card__side--back {
      transform: rotateY(0); }
    .top-games__card__side {
      width: 100%;
      height: 100%;
      transition: all 0.5s linear;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      backface-visibility: hidden;
      font-size: 1.6rem;
      border-radius: 5px;
      color: #555555; }
    .top-games__card__side--front {
      background-color: #ebf4f5; }
    .top-games__card__side--back {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5rem 3rem;
      background-image: linear-gradient(to right bottom, rgba(51, 235, 255, 0.8), rgba(0, 0, 69, 0.8)), url(../imgs/console-bg.jpg);
      background-size: cover;
      transform: rotateY(180deg);
      display: grid;
      justify-items: center;
      align-self: center;
      text-align: center;
      color: #ebf4f5;
      text-transform: uppercase;
      font-family: "Bungee", cursive;
      grid-template-rows: 1fr repeat(3, min-content); }
      @media only screen and (max-width: 62.5em) {
        .top-games__card__side--back {
          padding-bottom: 8rem; } }
  .top-games__img {
    position: relative;
    width: 100%;
    aspect-ratio: 9/5;
    background-size: cover; }
    .top-games__img-1 {
      background-image: url(../imgs/top_legend_of_zelda.webp); }
    .top-games__img-2 {
      background-image: url(../imgs/top_ff7_remake_lg.jpg); }
    .top-games__img-3 {
      background-image: url(../imgs/top_fifa22.jpg); }
  .top-games__name {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: end;
    background-color: rgba(51, 235, 255, 0.3);
    padding: 1rem;
    font-family: "Bungee", cursive;
    line-height: 1.8rem;
    font-weight: 300;
    color: #fff; }
  .top-games__detail {
    padding: 4rem 3rem;
    font-size: 1.6rem;
    color: #555555;
    line-height: 2.5rem;
    font-family: "Lato", sans-serif; }
  .top-games__price-only {
    justify-self: start;
    font-size: 2rem;
    margin-left: 2rem; }
  .top-games__price-original {
    color: #b6bdbe;
    font-size: 3rem; }
  .top-games__price-value {
    font-size: 4rem;
    color: #6eee87; }
  .top-games__btn {
    padding: 0.5rem 3rem;
    margin-top: 1rem; }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .top-games__card {
      display: grid;
      grid-template-rows: 1fr min-content; }
      .top-games__card:hover .top-games__card__side--front {
        transform: rotateY(0); }
      .top-games__card__side {
        border-radius: 0;
        box-shadow: none; }
      .top-games__card__side--back {
        transform: rotateY(0);
        position: static;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: repeat(2, min-content);
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 3rem; }
    .top-games__price-only {
      grid-column: 1 / -1;
      width: 100%;
      margin-left: 0; }
    .top-games__btn {
      grid-column: 1 / -1;
      margin-left: 0; }
    .top-games__detail {
      padding: 6rem;
      font-size: 2rem;
      line-height: 1.6; } }

.bg-video {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.new-games {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 80vh;
  padding: 10rem 0;
  margin-bottom: 0; }
  .new-games__container {
    width: 60%;
    min-width: min-content;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .new-games__container {
        width: 80%; } }
  .new-games__box {
    background-image: linear-gradient(to right bottom, rgba(51, 235, 255, 0.8), rgba(0, 0, 69, 0.8)), url(../imgs/console-bg.jpg);
    background-size: contain;
    display: grid;
    grid-template-columns: minmax(15rem, 25rem) 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    transform: skewX(-12deg);
    margin-bottom: 6rem; }
    @media only screen and (max-width: 50em) {
      .new-games__box {
        grid-template-columns: 18rem 1fr; } }
    @media only screen and (max-width: 37.5em) {
      .new-games__box {
        grid-template-columns: 15rem 1fr;
        transform: skewX(-8deg); } }
  .new-games__shape {
    width: 10rem;
    height: 10rem;
    background-color: #ebf4f5;
    border-radius: 50%;
    overflow: hidden;
    transform: skewX(12deg);
    display: grid;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .new-games__shape {
        transform: skewX(8deg); } }
  .new-games__img {
    width: 80%;
    object-fit: cover; }
  .new-games__text {
    transform: skewX(12deg);
    justify-self: start;
    color: #ebf4f5;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .new-games__text {
        transform: skewX(8deg); } }
  .new-games__console {
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .new-games__console {
        font-size: 1.8rem; } }
  .new-games__name {
    font-size: 2.3rem;
    font-family: "Bungee", cursive; }
  .new-games__date {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif; }

.game-buying {
  padding: 10rem;
  background-image: linear-gradient(rgba(2, 11, 106, 0.9), rgba(0, 0, 69, 0.8));
  min-height: 60rem;
  margin-bottom: 0; }
  .game-buying .book {
    background-image: linear-gradient(110deg, #ebf4f5 0, #ebf4f5 50%, transparent 60%), url(../imgs/order_form.webp);
    background-size: contain;
    height: 100%; }
    @media only screen and (max-width: 62.5em) {
      .game-buying .book {
        background-image: linear-gradient(110deg, #ebf4f5 0, #ebf4f5 70%, transparent 75%), url(../imgs/order_form.webp); } }
    @media only screen and (max-width: 50em) {
      .game-buying .book {
        background-image: linear-gradient(110deg, #ebf4f5 0, #ebf4f5 100%); } }
    .game-buying .book__form {
      width: 50%;
      padding: 5rem; }
      .game-buying .book__form > h2 {
        font-size: 2.5rem; }
      @media only screen and (max-width: 62.5em) {
        .game-buying .book__form {
          width: 80%; } }
      @media only screen and (max-width: 50em) {
        .game-buying .book__form {
          width: 100%; } }
    .game-buying .book__login {
      margin-right: 4rem; }
    .game-buying .book__heading {
      text-align: start; }
      @media only screen and (max-width: 50em) {
        .game-buying .book__heading {
          text-align: center; } }

.gallery {
  width: 100%;
  padding: 1rem;
  aspect-ratio: 11 / 6;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr); }
  .gallery__item {
    width: 100%;
    height: 100%;
    cursor: pointer; }
    .gallery__item-1 {
      grid-area: 3 / 1 / 6 / 3; }
    .gallery__item-2 {
      grid-area: 1 / 3 / 4 / 6; }
    .gallery__item-3 {
      grid-area: 1 / 1 / 3 / 3; }
    .gallery__item-4 {
      grid-area: 4 / 3 / 6 / 5; }
    .gallery__item-5 {
      grid-area: 6 / 4 / 7/ 5; }
    .gallery__item-6 {
      grid-area: 4 / 8 / 6 / 10; }
    .gallery__item-8 {
      grid-area: 1 / 6 / 4 / 7; }
    .gallery__item-7 {
      grid-area: 6 / 8 / 9/ 10; }
    .gallery__item-9 {
      grid-area: 6 / 1 / 9 / 4; }
    .gallery__item-10 {
      grid-area: 7 / 7 / 9 / 8; }
    .gallery__item-11 {
      grid-area: 4 / 5 /7 / 8; }
    .gallery__item-12 {
      grid-area: 1 / 7 / 4/ 10; }
    .gallery__item-13 {
      grid-area: 7 / 4 / 9 / 7; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear; }
    .gallery__img:hover {
      background-color: #ebf4f5;
      transform: scale(1.2);
      padding: 1rem;
      border: 1px solid #555555;
      z-index: 10; }

.footer {
  background-color: rgba(0, 0, 69, 0.9);
  color: #ebf4f5;
  padding: 5rem;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
  justify-items: center;
  row-gap: 3rem;
  column-gap: 8rem;
  font-size: 1.6rem; }
  .footer__logo {
    grid-column: 1 / -1; }
    .footer__logo-icon {
      width: 6rem; }
  .footer__buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    border-top: 1px solid #ebf4f5; }
    @media only screen and (max-width: 37.5em) {
      .footer__buttons {
        grid-template-columns: repeat(2, 1fr); } }
  .footer__button {
    font-size: inherit;
    text-transform: uppercase;
    font-family: "Bungee", cursive;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear; }
    .footer__button:hover {
      transform: translateY(-2px);
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); }
  .footer__copyright {
    width: 100%;
    border-top: 1px solid #ebf4f5;
    font-size: inherit;
    text-transform: uppercase;
    font-family: "Bungee", cursive;
    font-weight: 300;
    text-align: center; }

.nav__checkbox {
  display: none; }

.nav__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2000;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .nav__button {
      height: 9rem;
      width: 9rem; } }

.nav__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
  z-index: 1500; }

.nav__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 37.5em) {
    .nav__list {
      width: max-content; } }

.nav__item:not(:last-child) {
  margin-bottom: 3rem; }

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Bungee", cursive;
  color: #ebf4f5;
  padding: 1rem 3rem;
  background-image: linear-gradient(120deg, transparent 0, transparent 50%, #5fc52e 50%, #6eee87 100%);
  background-size: 220%;
  transition: all .4s linear; }
  .nav__link:link span, .nav__link:visited span {
    margin-right: 2rem; }
  .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
    background-position: 100%;
    transform: translateX(1rem); }

.nav__background {
  background-image: linear-gradient(to right bottom, #000045, #33ebff);
  height: 7rem;
  width: 7rem;
  position: fixed;
  border-radius: 50%;
  top: 5rem;
  right: 5rem;
  z-index: 500;
  transition: all 1s cubic-bezier(0.57, -0.29, 0.42, 1.3); }
  @media only screen and (max-width: 37.5em) {
    .nav__background {
      height: 9rem;
      width: 9rem; } }

.nav__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .nav__icon {
      margin-top: 4.5rem; } }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #5fc52e;
    display: inline-block;
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .nav__icon, .nav__icon::before, .nav__icon::after {
        width: 4rem;
        height: 3px; } }
  .nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .nav__icon::before {
    top: -1rem;
    transform-origin: center; }
  .nav__icon::after {
    top: 1rem;
    transform-origin: center; }

.nav__button:hover .nav__icon::before {
  top: -1rem; }

.nav__button:hover .nav__icon::after {
  top: 1rem; }

.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent; }

.nav__checkbox:checked + .nav__button .nav__icon::before {
  transform: rotate(135deg);
  top: 0; }

.nav__checkbox:checked + .nav__button .nav__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.nav__checkbox:checked ~ .nav__background {
  border-radius: 0;
  transform: scale(120); }

.nav__checkbox:checked ~ .nav__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }
